<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pageTitle%></title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    
    <h1><%=content%></h1>
    <h2>Learning ejs</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor quam necessitatibus error veritatis ad voluptatem iste! Nulla, sequi animi minus velit quae officiis ratione accusantium voluptas impedit voluptate ab modi?
    Vero, laudantium eligendi. Voluptatibus nisi similique nobis rem animi! Repellendus repudiandae provident animi est quam sunt eius, culpa molestias accusantium. Impedit optio quae veniam sed atque neque doloribus explicabo ipsam.
    Laudantium porro delectus dicta officia, reprehenderit facere atque architecto rerum rem nemo in. Corrupti quia fuga itaque voluptatem autem debitis, quam ullam libero nostrum vitae, praesentium laboriosam cumque fugiat nobis?</p>
    <h3><%= myName.fName%> <%= myName.lName%>
    </h3>

    <% if(isValid){ %>
        <h3>This is a true statement</h3>
    <% } %>


    <% for( let i = 0; i < myArray.length; i++ ) { %>
        <h3><%= myArray[i]%></h3>
    
    <% } %>

    <% for( let i = 0; i < myPics.length; i++ ) { %>
        <img src= "<%=myPics[i]%>" alt="" height="300px">
        <% } %>
        
    <h3><%=city %></h3>
    <img src="<%=pic%>" alt="" height="300px">
    




</body>
</html>

